.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  header {
    width: 100%;
    max-width: 720px;
    margin-top: 5rem;

    display: flex;
    justify-content: flex-start;
  }
}

.content {
  width: 100%;
  max-width: 720px;

  button  {
    margin-top: 4rem;
    background: transparent;
    border: none;

    color: var(--pink-500);
    font-size: 1.125rem;
    font-weight: 600;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.posts {
  margin-top: 4rem;

  a {
    width: 100%;
    max-width: 700px;
    display: block;

    transition: color 0.2s;

    & + a {
      margin-top: 3rem;
    }

    &:hover strong {
      color: var(--pink-500);
    }

    strong {
      font-size: 1.75rem;
      color: var(--gray-100);
    }

    p {
      font-size: 1.125rem;
      margin: 0.5rem 0 1.5rem;
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        color: var(--gray-500);

        display: flex;
        align-items: center;

        svg {
          margin-right: 0.5rem;
        }

        & + span {
          margin-left: 1.5rem;
        }
      }
    }
  }
}
